<div class="container homepage">
  <div class="row">
  <div class="col-sm-6 col-md-3 col-xs-12">
    <div class="thumbnail">
      <%= image_tag 'profile_picture.png' %>
      <div class="caption">
        <h3>Me</h3>
        <p>My name is Bohr Yang, and I guarduated from The University of Biritsh Columbia in 2012, majored in electrical and computer engineering. Since then I have been doing full stack ruby on rails development.</p>
        <p>I like traveling, video games, basketball and tinkering electrical devices and programs </p> 
        <p><a href="#" class="btn btn-primary" role="button">Contact Me</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
    </div>
  <div class='col-md-6 col-md-offset-2'>
    <p></p>
  </div>
  </div>
</div><!-- /.container -->
