<div class="container homepage">
  <div class="row">
  <div class="col-sm-6 col-md-3 col-xs-12">
    <div class="thumbnail">
      <%= image_tag 'profile_picture.png' %>
      <div class="caption">
        <h3>Me</h3>
        <p>My name is Bohr Yang. I accuqired my Bachelor's Degree of Applied Sicence, majored in Electrical Engineering from the University of British Columbia in 2012. I am currently working in the Chetwynd Mechnical Pulp Mill, BC, Canada, working towards my P.Eng title.</p>
        <p>I like playing basketball, video games and programming.</p>
        <p><a href="#" class="btn btn-primary" role="button">Contact Me</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
    </div>
  <div class='col-md-6 col-md-offset-1'>
  <p>
  </p>

  </div>

  </div>
</div><!-- /.container -->
