<nav class="navbar navbar-default middle" role="navigation">
<form role="search">
  <div class="collapse navbar-collapse search-page">
    <div class="input-group search-page-bar">
      <input name='cont' type="text" class="form-control" placeholder="Search In">
      <div class="input-group-btn  search-page-type">
	<select name='cat' class='form-control'>
	  <option value="all">All</option>
	  <option value="instruments">Instrument Index</option>
	  <option value="projects">Projects</option>
	  <option value="drawings">Electrical Drawings</option>
	  <option value="works">Work Orders</option>
	  <option value="um">User Manuals</option>
	  <option value="sm">Safety Manuals</option>
	  <option value="catalog">Catalog</option>
	  <option value="iso">ISO</option>
	</select> 
      </div>
  </div>
</div><!-- /.navbar-collapse -->

        <button type="submit" class="btn btn-default center-block search-page-submit"> <span class="glyphicon glyphicon-search"></span> Submit</button>
      </form>
</nav>

