<div class='container'>
<div class='row'>
<% rainbow = %w(red orange yellow green blue indigo purple) %>
<% 12.times do |x|%>
<div class='col-md-1 <%= rainbow[x%7] %>'>
<p>One Grid</p>
</div>
<% end %>
</div>
</div>

