<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @safety_manual.title %>
</p>

<%= link_to 'Edit', edit_safety_manual_path(@safety_manual) %> |
<%= link_to 'Back', safety_manuals_path %>
