// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  padding-top: 50px;
  background-color: grey;
}

.blog-index{  
}


.homepage{
  margin-top: 20px;
}

.content {
 padding: 40px 15px;
 text-align: center;
}

