.drawing
{
  th
  {
    width:10%
  }
}

.form_drawing {
  font-family: "Times New Roman", Georgia, Serif;
}

.form_discipline {
  padding-left:0px;
  float:none;
  font-size: 150%;
}

.form_drawing_discipline {
  
}

.drawing-form-order-input {
  clear:both;
  width:40%;
  margin-top:20px;
  margin-bottom:20px;
}

.drawing-submit {
  margin-bottom:20px;
  margin-top:20px;
  padding-left:50px;
  padding-right:50px;
}

