.pe_logo {
  padding-top:15px;
  padding-bottom:15px;
}

.main_body {
  margin: 90px;
  padding-top: 20px
}

.pe_nav {
  padding-top:30px;
  padding-left:50px;
}

.search-bar {
  width:60%;
  margin-left: -30px;
  margin-top: 15px;
}

.form-group {
  margin-top: -5px;
}

.drop-down {
  width: 30%;
}
.search-space {
  margin-left: 15px;
  width: 40% 
}

.pagination {
}

.page-bar {
  clear:both;
}

.search-submit {
  margin-left: 20px
}

.middle {
  margin-left:auto;
}

.search-page-bar {
  width:100%;
  padding-left: 150px;
  padding-right: 150px;
}

.search-page-type {
  width:20%;
}

.search-page-list {
  li {
    padding-left:10px;
  }
}

.search-page-submit {
  margin-bottom:30px
}

.search-page {
  padding-top:50px;
  margin-bottom:30px;
}

.form_drawing {
  font-family: "Times New Roman", Georgia, Serif;
  width:100%;
  .title {
    width: 30%
  }
}

.form_discipline {
  font-size: 150%;
}

.user-profile {
  margin-left:20em;

}
