.pe_logo {
  padding-top:15px;
  padding-bottom:15px;
}

.main_body {
  margin: 90px;
  padding-top: 20px
}

.pe_nav {
  padding-top:30px;
  padding-left:50px;
}

.search-bar {
  width:60%;
  margin-left: -30px;
  margin-top: 15px;
}

.form-group {
  margin-top: -5px;
}

.search-space {
  margin-left: 15px;
  width: 40% 
}

.pagination {
}

.page-bar {
  clear:both;
}

.search-submit {
  margin-left: 20px
}

.middle {
  margin-left:auto;
}

.search-page-bar {
  margin-left: 150px;
  margin-right: 150px
}


.search-page-submit {
  width:80px;
  margin:auto;
  margin-bottom:20px
}

.search-page {
  padding-top:50px;
  margin-bottom:30px;
}

.form_drawing {
  font-family: "Times New Roman", Georgia, Serif;
}

.form_discipline {
  font-size: 150%;
}
