.red {
 background-color: red;
}
.orange {
 background-color: #C47451;
}
.yellow {
 background-color: yellow;
}
.green {
 background-color: green;
}
.blue {
 background-color: blue;
}
.indigo {
 background-color: #5D76DB;
}
.purple {
 background-color: purple;
}
